extends layout

block content
	h1 Gridsmart
	div.main-panel
		ul.nav.nav-tabs(role="tablist")
			li
				a(href="/users/#{userId}") Property
			li.active
				a(href="/users/#{userId}/bills" class="active") Bills
			//- electric water and fuel
			li
				a(href="/users/#{userId}/footprint") Carbon Footprint/ Usage
		div.tab-content
			div#bills.tab-pane.active
				ul.nav.nav-pills.nav-justified(role="tablist")
					li.active
						a(href="/users/#{userId}/bills" class="active") Electric
					li
						a(href="/users/#{userId}/waterbill") Water
					//- li
						a(href="#fuel" role="tab" data-toggle="tab") Fuel
				div.tab-content
					div#electric.tab-pane.active
						h3.panel-heading Electric Bills
						table.table
							thead
								tr
									th
										button.btn.btn-info.btn-xs(id="elecAddBill" data-toggle="modal" data-target="#elecModal") Add Bill +
										#elecModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
											.modal-dialog
												.modal-content
													.modal-header
														button.close(type='button', data-dismiss='modal')
															span(aria-hidden='true') ×
															span.sr-only Close
														h3#myElecBillLabel.modal-title New Electric Bill
														.modal-body
															form#elecbill-form.form-horizontal(action="/users/#{userId}/elecBillSubmission", method="post", role="form")
																.form-group
																	label Bill Start Date:
																	input.form-control.elStart-entry.input-sm.bill-form(name="elStart" type="date" required)
																.form-group
																	label Bill End Date:
																	input.form-control.elEnd-entry.input-sm.bill-form(name="elEnd" type="date" required)
																.form-group
																	label Usage (kWh):
																	input.form-control.elUsage-entry.input-sm.bill-form(name="elUsage" type="number" required)
																.form-group
																	label Total Cost:
																	input.form-control.elCost-entry.input-sm.bill-form(name="elCost" type="text" required)
																.form-group
																	button.btn.btn-default(type='button', data-dismiss='modal') Close
																	input.btn.btn-primary.save-elecBill(type='submit' value="Save Changes")
									th Billing Period Start
									th Billing Period End
									th Usage (kWh)
									th Total Cost
							//- HB Placeholder
							tbody#elec-table
								for bill in user.houses[0].bills.electric
									tr.elec-row
										td
											//- append these buttons dynamically when new bill added
											a.btn.btn-warning.btn-xs(id="elDelete" href="/users/#{userId}/bills/remove/#{bill._id}") Delete
											//- a.btn.btn-info.btn-xs(id="elEdit") Edit
										td=bill.elStart
										td=bill.elEnd
										td=bill.elUsage
										td=bill.elCost







