extends layout

block content
	h1 Gridsmart
	div.main-panel
		ul.nav.nav-tabs(role="tablist")
			li
				a(href="/") Property
			li.active
				a(href="/bills" class="active") Bills
			//- electric water and fuel
			li
				a(href="/footprint") Usage Impact
		div.tab-content
			div#bills.tab-pane.active
				ul.nav.nav-pills.nav-justified(role="tablist")
					li.active
						a(href="/bills" class="active") Electric
					li
						a(href="/waterbill") Water
					//- li
						a(href="#fuel" role="tab" data-toggle="tab") Fuel
				div.tab-content
					div#electric.tab-pane.active
						h3.panel-heading Electric Bills
						p.narrative Please enter monthly bills
						table#sortelec.table.tablesorter
							thead
								tr
									
									th.clearfix.hidden-xs Billing Period Start
									th Billing Period End
									th Usage (kWh)
									th Total Cost
									th.clearfix.hidden-xs Event/Project:
									th
										button.btn.btn-info.btn-xs(id="elecAddBill" data-toggle="modal" data-target="#elecModal") Add Bill +
										#elecModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
											.modal-dialog
												.modal-content
													.modal-header
														button.close(type='button', data-dismiss='modal')
															span(aria-hidden='true') ×
															span.sr-only Close
														h3#myElecBillLabel.modal-title New Electric Bill
														.modal-body
															form#elecbill-form.form-horizontal(action="/elecBillSubmission", method="post", role="form")
																.form-group
																	label Bill Start Date:
																	input.form-control.elStart-entry.input-sm.bill-form(name="elStart" type="date" required)
																.form-group
																	label Bill End Date:
																	input.form-control.elEnd-entry.input-sm.bill-form(name="elEnd" type="date" required)
																.form-group
																	label Usage (kWh):
																	input.form-control.elUsage-entry.input-sm.bill-form(name="elUsage" type="number" required)
																.form-group
																	label Total Cost:
																	input.form-control.elCost-entry.input-sm.bill-form(name="elCost" type="text" required)
																.form-group
																	label Event/Project:
																	input.form-control.elEvent-entry.input-sm.bill-form(name="elEvent" type="text" placeholder="ex. new windows, vacation")
																.form-group
																	button.btn.btn-default.close-me(type='button', data-dismiss='modal') Close
																	input.btn.btn-primary.save-elecBill.save-me(type='submit' value="Save Changes")
							//- HB Placeholder
							tbody#elec-table
								for bill in user.houses[0].bills.electric
									tr.elec-row

										td.clearfix.hidden-xs=bill.elStart
										td=bill.elEnd
										td=bill.elUsage
										td=bill.elCost
										td.clearfix.hidden-xs=bill.elEvent
										td
											//- a.icon-cancel-outline(id="elDelete" href="/users/#{userId}/bills/remove/#{bill._id}")
											a.btn.btn-xs(id="elDelete" href="/bills/remove/#{bill._id}") ✘
											//- a.btn.btn-info.btn-xs(id="elEdit") Edit







