extends layout

block content
	h1 Gridsmart
	div.main-panel
		ul.nav.nav-tabs(role="tablist")
			li
				a(href="/users/#{userId}") Property
			li
				a(href="/users/#{userId}/bills") Bills
			//- electric water and fuel
			li.active
				a(href="/users/#{userId}/footprint"  class="active") Usage Impact
		div.tab-content
			div#bills.tab-pane.active
				ul.nav.nav-pills.nav-justified(role="tablist")
					li.active
						a(href="/users/#{userId}/footprint" class="active") Energy Consumption
					li
						a(href="/users/#{userId}/waterfootprint") Water Consumption
				div.tab-content
					div#footprint.tab-pane.active
						h3 Electric Usage
						p Compares electric usage year over year
						//- div#newchart(style="height:250px")
						div#electricchart(style="height:250px")
						table.table.my-tables
							tbody
								tr.my-row.my-tablerow
									th Jan
									th Feb
									th Mar
									th Apr
									th May
									th Jun
									th Jul
									th Aug
									th Sept
									th Oct
									th Nov
									th Dec



