extends layout

block content
	h1 Gridsmart
	div.main-panel
		ul.nav.nav-tabs(role="tablist")
			li
				a(href="/users/#{userId}") Property
			li
				a(href="/users/#{userId}/bills") Bills
			//- electric water and fuel
			li.active
				a(href="/users/#{userId}/footprint"  class="active") Usage Impact
		div.tab-content
			div#bills.tab-pane.active
				ul.nav.nav-pills.nav-justified(role="tablist")
					li
						a(href="/users/#{userId}/footprint") Energy Consumption
					li.active
						a(href="/users/#{userId}/waterfootprint"  class="active") Water Consumption
				div.tab-content
					div#footprint.tab-pane.active
						h3 Water Usage
						//- div#newchart(style="height:250px")
						div#waterchart(style="height:250px; width:500px")




